@charset "utf-8";
*{
	font-family: 'Microsoft Yahei';
	margin:0;
	padding: 0;
	list-style:none;
	text-decoration: none;
	box-sizing:border-box;
}
.top{
	width: 100%;
	height: 40px;
	background: #000;
	border-top:2px solid #00925f;
}
.top-nav{
	width: 1120px;
	height: 40px;
	margin: 0 auto;
}
.top-nav ul{
	width: 286px;
	height: 40px;
	line-height: 40px;
	float: right;
}
.top-nav ul li{
	float: left;
	border-right: 1px solid #727272;
}
.top-nav ul li:last-child{
	border-right:none;
}
.top-nav ul li a{
	font-size: 12px;
	color: #cdcdcd;
}
.logo{
	width: 100%;
	height: 80px;
}
.nav{
	width: 1120px;
	height: 80px;
	margin:0 auto;
}
.nav-l{
	width: 103px;
	height: 80px;
	float: left;
	margin-right: 440px;
}
.nav-l img{
	margin-top: 22px;
}
.nav-r{
	width: 560px;
	height: 80px;
	float: left;
}
.nav-r ul li{
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	float: left;
}
.nav-r ul li a{
	display: block;
	width: 80px;
	height: 80px;
	font-size: 14px;
}
.nav-r ul li a:hover{
	background: #00925f;
	color: #fff;
}
.nav-r ul li:nth-child(2) a{
	color: #00925f;
}
.banner{
	width:100%;
	height:600px;
	background:url('../bax/expbanner.jpg') center center no-repeat;
	background-size: cover;
}
.main{
	width: 100%;
	background:#f6f6f6; 
}
.content{
	width: 1120px;
	height:842px;
	margin: 0 auto;
}
.content h2{
	width: 1120px;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
	color: #333;
	font-weight: bold;
	padding-left: 80px;
}
.city{
	width: 1120px;
	height: 95px;
	border-bottom: 1px solid #ececec;
	background: #fff;
	padding-top: 20px;
}
.city ul {
	width: 920px;
	height: 95px;
	margin-left: 80px;
}
.city ul li{
	float: left;
	margin-right: 20px;
	margin-bottom: 18px;
}
.city ul li a{
	font-size: 12px;
	color: #454b51;
	font-weight: bold;
}
.city ul li:first-child a{
	display: block;
	width: 34px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	background:#00925f;
}
.city ul li:nth-child(21){
	margin-left:10px;
}
.city ul li:last-child{
	margin-left:15px;
}
.location{
	width: 1120px;
	height: 590px;
}
.location ul li{
	width: 550px;
	height: 175px;
	float: left;
	background:#fff;
	padding-left: 20px;
	padding-top: 33px;
	margin-bottom: 20px;
}
.location ul li a{
	display: block;
}
.location ul li h3{
	font-size: 20px;
	color: #333;
	margin-bottom: 20px;
	font-weight: 700;
}
.location ul li h3 img{
	margin-right: 10px;
}

.location ul li p{
	font-size: 16px;
	color: #333;
	font-weight: 700;
	margin-bottom: 8px;
}
.location ul li:nth-child(odd){
	margin-right: 20px;
}
.vip{
	width: 100%;
	height: 248px;
	background: #fff;
}
.bax{
	width: 1120px;
	height: 248px;
	margin:0 auto;
	text-align: center;
	padding-top: 30px;
}
.bax h2{
	font-size: 32px;
	color: #333;
	margin-bottom: 20px;
}
.bax ul{
	width: 1120px;
	height: 66px;
}
.bax ul li{
	width: 135px;
	height: 66px;
	line-height: 66px;
	text-align: left;
	float: left;
	margin-right: 190px;
}
.bax ul li:last-child{
	margin-right: 0;
}
.bax ul li a{
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.bax ul li a img{
	vertical-align: middle;
	margin-right: 10px;
}
.bax p{
	font-size: 16px;
	color: #333;
	font-weight: bold;
	text-align: left;
	margin-top: 50px;
}
.serv{
	width: 1120px;
	height: 126px;
	margin: 0 auto;
}
.serv ul li{
	width: 196px;
	height: 72px;
	float: left;
	margin-top: 42px;
	margin-right: 110px;
}
.serv ul li a{
	display: block;
}
.serv ul li img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}
.serv ul li:last-child{
	margin-right: 0;
}
.serv ul li p{
	width: 132px;
	height: 40px;
	float: left;
}
.serv ul li p span{
	font-size: 12px;
	color: #a8a8a8;
}
.serv ul li p span:first-child{
	font-size: 16px;
	color: #333;
}
.hr{
	width: 100%;
	height: 2px;
	background: #ececec;
}
.hr2{
	height: 4px;
}
.contact{
	width: 1120px;
	height: 240px;
	margin: 0 auto;
	padding-top: 25px;
}
.c1{
	width: 110px;
	height: 145px;
	float: left;
	margin-right: 76px;
}
.c1 p,
.c2 h4{
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin-bottom: 10px;
}
.c1 ul li{
	list-style-type:square;
	list-style:inside;
	margin-bottom: 6px;
}
.c1 ul li a{
	font-size: 12px;
	color: #70727c;
}
.c1 ul li a:hover{
	color:#00925f;
}
.c11 ul li{
	list-style:none;
}
.c11{
	margin-right: 0;
}
.c11 ul li img{
	margin-right: 6px;
}
.c2{
	width: 200px;
	height: 160px;
	float: left;
}
.tel img,
.tel p{
	float: left;
}
.tel img{
	margin-right: 10px;
}
.tel img+p{
	font-size: 18px;
	color: #00925f;
	font-weight: bold;
}
.tel p.time{
	font-size: 12px;
	color: #333;
	font-weight: bold;
	margin-top: 5px;
}
.tel{
	width: 200px;
	height: 60px;
}
.footer{
	width: 100%;
	height: 70px;
	background:#2b2b2b;
	border-top: 6px solid #000;
}
.foot{
	width: 1120px;
	height: 70px;
	margin:0 auto;
}
.footer-l{
	width: 520px;
	height: 70px;
	line-height: 70px;
	float: left;
}
.footer-l h2{
	font-size: 24px;
	color: #fffefe;
	float: left;
	font-weight: bold;
}
.footer-l p{
	font-size: 12px;
	color: #fffefe;
	float: right;
}
.footer-r{
	width: 430px;
	height: 70px;
	float: right;
}
.footer-r ul li{
	width: 80px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	float:left;
}
.footer-r ul li a{
	font-size: 12px;
	color: #fffefe;
}